# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
*.log

# Maxfiy sozlamalar
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
